/**
 * create by nasa.wang
 */

 @import "../../styles/index.less";

.cex-tool-bar{
  // border-radius: 2px 2px 0 0;
  border-radius: 0;
  font-size: 18px;
  .hairline(bottom, @color-border);
  min-height: 40px;
  position: relative;
  padding: 0px @width-gap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  .center {
    color: @color-text;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden; word-wrap:
    break-word;
    flex: 1;
  }

  .cex-bar-tools-group {
      padding-right: 0;
      padding-left: 0;
  }
  img {
      width: 100%;
  }
}
