/**
 * create by nasa.wang
 */

@import "../../styles/index.less";

.swiper {
    overflow: hidden;
    width: 100%;
    position: relative;

    .swiper-inner {
        display: flex;
    }

    .bullets {
        position: absolute;
        left: 0;
        bottom: @width-gap-half;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bullet {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: white;
        margin: 0 4px;
        opacity: .6;

        &.active {
            background-color: @color-primary;
            opacity: .9;
        }
    }
}

.transition .swiper-inner {
    transition: transform .3s;
}
.swiper-picker{
    height: 200px;
    display: -webkit-box !important;
    img{
        display: inline-block;
        width: 10%;
        margin: 3%;
    }
}
