@import "./emoticons.less";

.cex-emoticons-picker {
    .cex-emotion-item{
        display: inline-block;
        width: 10%;
        margin:8px 3.3%;
        height: auto;
        i{
            display: inline-block;
            -webkit-user-select: none;
            -moz-user-select: none;    
        }
    }

    .cex-swiper-picker, .swiper-item-last, .swiper-item-first{
        height: 200px;
        display: -webkit-box !important;
        background-color: #e8e8e8;
        img{
            display: inline-block;
            width: 10%;
            margin: 3%;
        }
    }
     .hehe {
     	.sprite(@hehe);
     }
     .xixi {
     	.sprite(@xixi);
     }
     .haha {
     	.sprite(@haha);
     }
     .keai {
     	.sprite(@keai);
     }
     .aini {
     	.sprite(@aini);
     }
     .qinqin {
     	.sprite(@qinqin);
     }
     .taikaixin {
     	.sprite(@taikaixin);
     }
     .guzhang {
     	.sprite(@guzhang);
     }
     .touxiao {
     	.sprite(@touxiao);
     }
     .zuoguilian {
     	.sprite(@zuoguilian);
     }
     .haixiu {
     	.sprite(@haixiu);
     }
     .ku {
     	.sprite(@ku);
     }
     .huaxin {
     	.sprite(@huaxin);
     }
     .qian {
     	.sprite(@qian);
     }
     .chijing {
     	.sprite(@chijing);
     }
     .chanzui {
     	.sprite(@chanzui);
     }
     .landelini {
     	.sprite(@landelini);
     }
     .sikao {
     	.sprite(@sikao);
     }
     .xu {
     	.sprite(@xu);
     }
     .yiwen {
     	.sprite(@yiwen);
     }
     .han {
     	.sprite(@han);
     }
     .kun {
     	.sprite(@kun);
     }
     .dahaqi {
     	.sprite(@dahaqi);
     }
     .shuijiao {
     	.sprite(@shuijiao);
     }
     .heng {
     	.sprite(@heng);
     }
     .bizui {
     	.sprite(@bizui);
     }
     .bishi {
     	.sprite(@bishi);
     }
     .ding {
     	.sprite(@ding);
     }
     .weiqu {
     	.sprite(@weiqu);
     }
     .wabishi {
     	.sprite(@wabishi);
     }
     .shengbing {
     	.sprite(@shengbing);
     }
     .yun {
     	.sprite(@yun);
     }
     .tu {
     	.sprite(@tu);
     }
     .shiwang {
     	.sprite(@shiwang);
     }
     .kelian {
     	.sprite(@kelian);
     }
     .lei {
     	.sprite(@lei);
     }
     .shuai {
     	.sprite(@shuai);
     }
     .zhuakuang {
     	.sprite(@zhuakuang);
     }
     .numa {
     	.sprite(@numa);
     }
     .nu {
     	.sprite(@nu);
     }
     .zuohengheng {
     	.sprite(@zuohengheng);
     }
     .youhengheng {
     	.sprite(@youhengheng);
     }
     .zan {
     	.sprite(@zan);
     }
     .ruo {
     	.sprite(@ruo);
     }
     .lai {
     	.sprite(@lai);
     }
     .ok {
     	.sprite(@ok);
     }
     .buyao {
     	.sprite(@buyao);
     }
     .ye {
     	.sprite(@ye);
     }
     .woshou {
     	.sprite(@woshou);
     }
     .rose {
     	.sprite(@rose);
     }
     .xin {
     	.sprite(@xin);
     }
     .shangxin {
     	.sprite(@shangxin);
     }
     .zhong {
     	.sprite(@zhong);
     }
     .taiyang {
     	.sprite(@taiyang);
     }
     .yueliang {
     	.sprite(@yueliang);
     }
     .dangao {
     	.sprite(@dangao);
     }
     .ganbei {
     	.sprite(@ganbei);
     }
     .kafei {
     	.sprite(@kafei);
     }
     .zhutou {
     	.sprite(@zhutou);
     }
     .huatong {
     	.sprite(@huatong);
    }
    .lazhu {
    	.sprite(@lazhu);
    }
    .shandian {
    	.sprite(@shandian);
    }
    .yongbao {
    	.sprite(@yongbao);
    }
    .chifan {
    	.sprite(@chifan);
    }
    .zuqiu {
    	.sprite(@zuqiu);
    }
    .yusan {
    	.sprite(@yusan);
    }
    .bangbangtang {
    	.sprite(@bangbangtang);
    }
    .qiqiu {
    	.sprite(@qiqiu);
    }
    .shafa {
    	.sprite(@shafa);
    }
    .feiji {
    	.sprite(@feiji);
    }
    .btn-delete {
    	.sprite(@btn-delete);
    }
}
