/**
 * create by nasa.wang
 */

 @import "../../styles/index.less";

.cex-card-footer{
  min-height: 30px;
  position: relative;
  padding: 4px @width-gap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // .hairline(top, rgba(221,221,221,0.3));
  // border-radius: 0 0 2px 2px;
  border-radius: 0;
  color: #757575;
}

.cex-card-footer{
  &.no-border {
    .hairline-remove(top);
  }
}
