@import "../../styles/index.less";

.cex-gallery-item{
    width: 32.33333333%;
    float: left;
    margin-right: 1.5%;
    background: url(../../img/default_img.png) no-repeat center center;
    background-color: #C2C2C2;
    // background-size: cover;
    color: #333;
    margin-bottom: 1.5%;
    // overflow: auto;;
    position: relative;
    &:nth-child(3n){
        margin-right: 0px;
    }
    img{
        width: 100%;
    }
    .btn-delete{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
        color: #fff;
        width: 16px;
        height: 16px;
        right: -4px;
        top: -5px;
        background: url(../../img/dele_icon.png) no-repeat;
        background-size: cover;
        z-index: 11;
    }
}
.cex-gallery-one{
    width: 100%;
    margin-right: 0px;
    max-height: 160px;
}
.cex-gallery-four{
    &:nth-child(2){
        margin-right: 10%;
    }
    &:nth-child(3){
        margin-right: 1.5%;
    }
}
